
.box{
    width: 285px;
    float: left;
    margin-left: 52px;
    text-align: justify;
    &:first-child{
    margin-left: 0;
    }
}
.subtitle {
border-bottom: solid 6px black;
}

#read {
color: #fe9b00;
}

#rafi {
color: black;
font-style: italic;
font-size: 14px;
}
