.container{
  width: 960px;
  margin: 0 auto;
}
body{
  margin: 0;
  border-top: 17px solid #090909;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a{
  text-decoration: none;
}

.bg-gray{
  background-color: #e2e2e2;
}